{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">


    <title>Download File</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Agas - COTS 3</a>
    </nav>


    <div class="container" style="margin-top: 10px;">
        ​<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-md-center jumbotron">
                ​<div class="text-center">
                    ​<h1>Enter your url destination :)</h1>

                    <form method="POST" action="download/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Choose a URL you want to download </label>
                            <input class="form-control" type="url" placeholder="https://example.com/media.zip" id="url-input" name="url-input" required>
                        </div>
                        <div class="form-group">
                            <input id="submit-button" type="submit" class="btn btn-primary" value="Download File!">
                        </div>
                    </form>
                    ​
                </div>
            </div>
            ​
        </div>

        ​
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/pooper-1.16.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>